# Build directories
build
cmake-build-*
docs
utils/*.h
utils/*.hpp

# Desktop/IDE related files
CMakeLists.txt.user
*.backup
.vs
.directory
*.autosave
*.kdev4
**/*.autosave
**/*.kdev4

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
 
