[submodule "deps/utfcpp"]
	path = deps/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "deps/replxx"]
	path = deps/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/layout"]
	path = deps/layout
	url = https://github.com/randrew/layout.git
[submodule "deps/imtui"]
	path = deps/imtui
	url = https://github.com/ggerganov/imtui.git
